.shop-page {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0 ,0.7);
    z-index: 1;
}
/**footer**/
#footer {
    background-color: rgb(239, 0, 0);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}
/**items-container**/
.items-container {
   display: flex;
   border: none;
   height: 100%;
   flex-wrap: wrap;
   align-content: flex-start;
   column-gap: 2em;
   row-gap: 2em;
}

.product-boards {
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: black;
    
}

.boards-button {
    color: gray;
    font-size: 30px;
    border-radius: 2px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.boards-button:hover {
    color: white;
    background-color: gray;
}

/**individual product names BOARDS**/
#leticia {
    width: 200px;
    height: 250px;
    rotate: 90deg;
}
.text-leticia {
    color: white;
}

#prod {
    width: 200px;
    height: 250px;
    rotate: 90deg;
}
.text-prod {
    color: white;
}
.h6 {
    color: white;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Orbitron';
    background: black;
}
.company-name {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(106, 105, 105, 0.7);
    z-index: 1;
}
/* navigation menu and tab */
.nav-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}

.nav-menu .bar {
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 3px 0;
    transition: 0.4s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay-content a:hover, .overlay-content a:focus {
    color: rgb(46, 46, 46);
}

.closebtn {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
}

/* shop page css */
.shop-page {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0 ,0.7);
    z-index: 1;
}
.shop.html {
    background-color: black;
}

.leticia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    z-index: 999999;
}

/*info page css*/
.info-page {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0 ,0.7);
    z-index: 1;
}

/*checkout tab container */
.checkout-tab-container {
    width: 35px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    cursor: pointer;
}

.checkout-tab-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.overlay-checkout {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.closeCheckout {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    color: white;
    border-radius: 10px;
}

.overlay-checkout-p { /* cart text*/
    padding: 30px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s; 
}

.checkout-box {
    position: relative;
    bottom: -70%;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.checkout-box a {
    top: 25%;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s; 
}
.checkout-box a:hover, .checkout-box a:focus {
    color: rgb(46, 46, 46);
}

