html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Orbitron';
}

.slideshow-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.slideshow {
    width: 100%;
    height: 100vh;
    position: relative; /* Full viewport height */
    overflow: hidden;
}
  
.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slideshow img.visible {
    opacity: 1;
}

.company-name {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0 ,0.7);
    z-index: 1;
}

.nav-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}

.nav-menu .bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay-content a:hover, .overlay-content a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    color: white;
}
